*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.header-menu {
    margin-top: 15px;
    margin-bottom: 20px;
}

.logo img {
    height: 25px;
}

.menu {
    position: absolute;
    left: 47%;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 20px 40px;
}

button {
    padding: 16px 32px;
    background-color: #4CAF4F;
    color: #fff;
    border: 1px solid #4CAF4F;
    border-radius: 8px;
    font-size: 16px;
}

button img {
    height: 10px;
    margin-left: 8px;
}

.hero-content h1 {
    color: var(--neutral-d-grey, #4D4D4D);
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
}

h1 span {
    color: var(--brand-primary, #4CAF4F);
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
}

.hero-content p {
    font-size: 17px;
    color: var(--neutral-grey, #717171);
    margin-top: 10px;
    margin-bottom: 20px;
}

section.hero-section {
    background-color: #f5f7fa;
    padding-top: 50px;
    padding-bottom: 26px;
}

.dots img {
    margin: auto;
    display: flex;
    margin-top: 70px;
    height: 10px;
}